<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
</head>
<body>
<h1 th:text="#{create.title}"></h1>
<a href="/" th:text="#{create.backtolist}"></a>
<br>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create}" th:object="${product}" method="post">
    <table>
        <tr>
            <td th:text="#{create.name}"></td>
            <td>
                <input type="text" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <td th:text="#{create.price}"></td>
            <td>
                <input type="text" th:field="*{price}">
            </td>
        </tr>
        <tr>
            <td th:text="#{create.image}"></td>
            <td>
                <input type="text" th:field="*{image}">
            </td>
        </tr>
    </table>
    <input type="submit" th:value="#{create.add}">
</form>
</body>
</html>