<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Product</title>
</head>
<body>
<h1 th:text="#{delete.title}">Delete Product?</h1>
<th:block>
    <a href="/" th:text="#{delete.backtolist}">Back to product list</a>
</th:block>
<br>
<form th:action="@{/delete}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{productId}">
    <table>
        <tr>
            <td th:text="#{delete.id}">ID</td>
            <td th:text="${product.productId}"></td>
        </tr>
        <tr>
            <td th:text="#{delete.name}">Name</td>
            <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <td th:text="#{delete.price}">Price</td>
            <td th:text="${product.price}"></td>
        </tr>
        <tr th:text="#{delete.image}">
            <td th:text="${product.image}"></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="#{delete.delete}"></td>
            <td><a th:href="@{/}" th:text="#{delete.no}"></a></td>
        </tr>
    </table>
</form>
</body>
</html>