<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<h1 style="margin: auto" th:text="#{homepage.productlist}"></h1>
<br>
<form style="margin-left: 40px">
    <span th:text="#{homepage.search}"></span>
    <input type="text" name="s">
    <input type="submit" th:value="#{homepage.search}">
</form>

<span th:text="#{homepage.language}"></span> <a href="?lang=en"> English </a> | <a href="?lang=vie"> Tieng Viet </a>
<table class="table table-striped">
    <tr>
        <td th:text="#{homepage.id}"></td>
        <td th:text="#{homepage.name}"></td>
        <td th:text="#{homepage.price}"></td>
        <td th:text="#{homepage.image}"></td>
        <td th:text="#{homepage.action}"></td>
        <td></td>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.getProductId()}"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getImage()}"></td>
            <td><a th:href="@{/addToCart/__${product.productId}__}" th:text="#{homepage.addToCart}" }></a></td>
        </tr>
    </th:block>
</table>
<div style="margin-left: 40px">
    <a th:href="@{'/'(page=${products.number - 1})}" th:if="${products.hasPrevious()}" th:text="#{homepage.previous}"></a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/'(page=${products.number + 1})}" th:if="${products.hasNext()}"th:text="#{homepage.next}"></a>
</div>
</body>
</html>